*{
    padding: 0;
    margin: 0;
}
.container{
    width: 85%;
    margin: auto;
}

.navbar{
    padding: 20px 20px 0px 20px;
    height: 10vh;
    background-color: #002244;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
   
}
.navbar-name{
    font-size: 2rem;
    width: 50%;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.link1 :hover, .link2 :hover, .link3 :hover {
border-bottom: 2px solid white;
}

.navbar-links{
    width: 50%;
    display: flex; 
     font-size: 1.5rem;
     justify-content: space-between;
     margin-bottom: 25px;
}




@media only screen and (max-width: 820px) {
    .container {
      width: 100%;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar-links{
        width: 100%;
    }
    .navbar-name{
        width: 100%;
        text-align: center;
    }
  }
